*~
*.classpath
*.project
*.settings/
*target/
*/bin*                                                                                                                                  
*.log
.DS_Store
._.DS_Store
